hr {
    width: 50%;
}

.link-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.link-icon-email {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.page-section {
    margin-top: 10%;
}
